@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.hero-image{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(../../assets/image/pstu.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}
div.hero-text{
  padding-top: 20%;
  text-align: center;
  color: gold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1080px){
  div.hero-text{
    padding-top: 30%;
  }
}
.btn:hover{
  background: gold;
}
