<carousel [noPause]="false">
  <slide>
    <img src="assets/image/gcm.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>Welcome to GCMI</h1>
      <h3>Living Divinity In Simplicity.</h3>
    </div>
  </slide>
  <slide>
    <img src="assets/image/pst1.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>..Enjoy Teaching On</h1>
      <h3>Sonship</h3>
    </div>
  </slide>
  <slide>
    <img src="assets/image/pst2.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>..Enjoy Teachings On</h1>
      <h3>Immortality.</h3>
    </div>
  </slide>
</carousel>
