html,body{
  height: 100vh;
  overflow: hidden;
}

 .carousel-caption{
  top: 40%;
  color: yellow;
  background: rgba(5, 5, 5, 0.5);
  height: 40%;
  border-radius: 50px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: red !important;
}
