<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<!-----------------------about------------------------------>

  <div class="background">
    <section id="about">
      <div class=" row">
        <div class=" col-md-6  col-sm-6 text-center text-light">
          <h2>Mission</h2>
          <p class="lead">
            To teach the Glory of God as He had emptied Satan’s ability, and has now given man
            His God-kind of Authority that neglected the existence of satan.And on the strength
            of this authority God's called us to reveal this glory to every man and making
            sure they don't escape his power to transform every soul, as with accuracy and precision
            we are able to describe Him in the face of Christ Jesus. Glory!
           </p>
           <h3>Vision</h3>
           <p class="lead">Our strategy to implementing this God given vision is to have
             a world-class Auditorium that has never been heard of in Nigeria,Benue
             state and the entire nations of the earth. This way men from every part
             of the world can comfortably sit and be transformed into God's plan.
             There is within us by the spirit a voracious appetite to making sure
             what God's  showed us is a reality.
           </p>

        </div>
        <div class="col col-md-6  col-sm-6text-center text-light">

        </div>
      </div>
    </section>
  </div>


