<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<!-----------------------about------------------------------>

  <div class="background">
    <section id="about">
      <div class=" row">
        <div class=" col-md-6  col-sm-6 text-center lead">
          <h2>vision</h2>
          <p>
            To Cover the whole earth with the knowledge of the Glory of God until every eyes see Jesus revealed. To show how that every human can now walk with the life and authority of God on earth as it's Heaven. To make sure no man goes to hell because all authority is given us as a church to subject Satan and  hell to nothingness by the preaching of the Gospel which the power of God unto salvation.
           </p>
           <h2>Mission</h2>
           <p>Our strategy to implementing this God given vision is to have
             a world-class Auditorium that has never been heard of in Nigeria,Benue
             state and the entire nations of the earth. This way men from every part
             of the world can comfortably sit and be transformed into God's plan.
             There is within us by the spirit a voracious appetite to making sure
             what God's  showed us is a reality.
           </p>

        </div>
        <div class="col col-md-6  col-sm-6 text-center">
            <h2 class="text-center">Mandate</h2>
            <p class="lead">Glory carriers ministry is a system established on the strength of God via his son prophet Simon Thomas in the year 2012, but started officially in the year 2015 with a mandate of reaching the world with the knowledge of the glory which is according to 2cor 3:18,the only reason men will have access to God as a father and come into their glorious inheritance as sons/daughters of God. We are currently in Benue and Ondo state for now with a mandate of flocking the whole nations of the earth with the knowledge of the glory. Our ministry originated from Benue state university when Prophet Thomas was undergoing his preliminary science program. One of his favourite quote is this, "You'll think you're a lover of the world until you hear the Gospel of God, which is the Knowledge of the Glory"</p>
        </div>
      </div>
    </section>
  </div>
  <app-events></app-events>


