
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap');
/* about */
.background{
  background-color: #dcd9cd;
}
.lead{
	box-shadow: 0 8px 16px 0px black;
	transition:  0.3s step-end;
  padding: 2px 16px;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}
h2{
  color: black;
  font-family: 'Roboto Slab', serif;
}
