/* about */
.background{
  background-color: black;
  position: relative;
  min-height: 100vh;
  height: auto;
  background-image:linear-gradient(rgba(74, 15, 236, 0.5),rgba(74, 15, 236, 0.5)), url(.././assets/image/Waihou.svg);
}
.lead{
	box-shadow: 0 8px 16px 0px black;
	transition:  0.3s step-end;
  padding: 2px 16px;
}
